name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: '>=1.18'
      - name: Install dependencies
        run: |
          go version
      - name: Build
        run: go build .

      - name: Test With Coverage
        run: cd test && go test -gcflags=-l -v  -coverprofile=../coverage.txt -coverpkg=../... -covermode=atomic ./...
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
          flags: unittests
          fail_ci_if_error: true
          verbose: true
      - name: Run Vet
        run:  go vet ./...
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
